header{
    height: 65px;
    background-color: #fff;
    margin: 10px;
    position: fixed;
    display: block;
    width: 82%;
    top:0;
    right: 0;
    transition: width 1s;
}
header.sideExpaneded{

}
header.sideClosed{
    width: 95%;
    transition: width 1s;
}
.contentView {
    width: 81%;
    float: left;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    padding:30px 0px;
}
body{
    position: relative;
    background-color: #f6f6f6;
}
aside{
    width: 16%;
    background-color: #fff;
    height: 490px;
    margin: 10px;
    transition: width 1s;
    float: left;
}
aside.small-navigation{
    width: 3%;
    transition: width 1s;
}
.side-navigation{

}
.app-logo{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 10px;
    text-transform: uppercase;
}
.app-logo small{
    font-size: 8px;
    
}
.url-navigation{

}
.url-navigation ul{
    list-style: none;
}

.url-navigation ul li{
    list-style: none;
    padding: 10px;
    padding-left: 50px;
    border-bottom: 1px solid #f6f6f6;
}
.small-navigation .url-navigation ul li{
    padding-left: 10px;
}
.menuIcon, .menuSearch{
    padding: 10px;
    float: left;
}
img {
    max-width: 30px;
}
.inputSearch{
    background: #f6f6f6;
    height: 35px;
    width: 250px;
    border-radius: 30px;
    padding:0px 10px
}
.searchButton{
    position: absolute;
    top: 10px;
    right: 20px;
}
.searchwithbutton{
    position: relative;
}
.inputSearch:focus{
    outline: none;
}
.notification{
    float: right;
    overflow: hidden;
}
.notification .notificationul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}
.notification .notificationul li {
    float: left;
    padding-right: 30px;
}
.notification .notificationul li:first-child{
    line-height: 60px;
}
.notification .notificationul li.notificationicon{
    margin-top: 20px;
}
.notification .notificationul li img{
    max-width: 20px;
    line-height: 30px;
    margin: auto;
    text-align: center;
}
.notification .notificationul li.userimage{
    margin-top: 20px;
    border: 1px solid #000;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-right: 30px;
    overflow: hidden;
}
.profiledetails{
    position: absolute;
    right: 30px;
    top: 75px;
    background-color: #fff;
    padding:0px 30px;
    display: none;
}
.profiledetails li{
    display: block;
    float: none;
    padding:5px 0px;
}
.profiledetails.active{
    display: block;
}